Module:
it's a tool which is  written  by someone we else but we can use it it is packet  pre-defined function We can use that by
first installing that module (pip install) and call it (import)|

In [10]:
pip install pyjokes

Requirement already satisfied: pyjokes in c:\users\ashay\onedrive\desktop\sacrifices of comfort\python\python marathon for semester exam\.venv\lib\site-packages (0.8.3)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

1.MODULE  PYJOKES

so basically this is a module or u can say libary which are importing jokes from the pyjokes each time you run the code

In [11]:
import pyjokes
joke=pyjokes.get_joke()
print(joke)

Is reading in the bathroom considered Multi-Tasking.

2.Comment

if u want a line of explaination or something that u dont't want your python to read that explanation part you just want python to skip that line us just have to use comment.
syntax:control+/ and shit
1.Single Line Comment #
print("hello world")
#I'm using this this just to show u now the python does not read this part and skip to the other part 
print("don't try to be a piece of shit that nobody likes")
2.Multiline Comment""" """
""" write what u want into this multiple line"""


Bottom i have showen how it work in code:

2.1 Single Line comment

used for the single line

In [12]:
import pyjokes
joke=pyjokes.get_joke()#This line is import the joke from the pyjokes module or libary and store into the joke variable.
print(joke)

How come there is no obfuscated Perl contest? Because everyone would win.

2.2 Multiline Comment

just select whole program u want to comment and hold ctrl+/

In [13]:
import pyjokes
joke=pyjokes.get_joke()
print(joke) 
# """
# nincidndic
# bcsdkdjcsd
# dnkllcnlsd
# """

What do you call a parrot that says "Squawk! Pieces of nine! Pieces of nine!"? A parrot-ey error.

3.Variable and Data type

3.1 Variables:  variable is a name given memory allocation.so bascially name get a alocation of address into the main memory(RAM)

In [14]:
#Variable is the container that store the information or data 
a=10
b=2
print(a+b)

12

Variable is Identifier : Indentifer is used to to display variable

3.2 Data types : we are basically talking about the type of data

In [15]:
# INT : it can default know that a int because 
a=22
print(type(a))
#Float:used for storing Decimal values to a variable
b=22.3
print(type(b))
#Str: String data type used for the storing of character values
c="himanshu"
print(type(c))
#Boolean:only store True or False in the variable  
a=True
b=False
print(type(c))
print(type(b))
#None :# his variable None is used if u want to declare a variable now but u dont have the use of it now but it will in the future so that where this comes in 
Nothing=None 
print(type(Nothing))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'NoneType'>

OPERATOR

1.Arthmiatic operator:+,-,/,*,**,/etc
2.Assingment operator:=,+=,-=,/etc
3.Comparison operator:==,>=,<=,<,>,/etc #return True or False 
4.Logical operator:and,not,or

In [16]:
#arthematic operator
a=7
b=4
c=23
v=a+b+c
print(v)
#assingment operator
a=4-3 
print(a)
b=3
b+=6 # Increment in the value of 3 by 6
print(b) 
#Comparision operator
a=5<4
a=5>4
a=5!=10 #not equal to 
print(a)# only give the return True or False 
#Logical operator 
e=True or False
r=True and False
n=True and not False

print(e)
print(n)
print(r)

34
1
9
True
True
True
False

Type Function

In [18]:
a=31
print(type(a))
b="himxhuydv"
print(type(b))
c=70.34
print(type(c))

<class 'int'>
<class 'str'>
<class 'float'>

Typecasting: basically change the datatype of variable from one to another

In [ ]:
a=32
print(type(a))
c=float(a)
print(type(c))

<class 'int'>
<class 'float'>

String : a sequence of character enclosed in  qoutas and string is immutable

In [ ]:
a='himxhu'#single qoutas is also use
b="himxhu" #double qoutas is also use 
c=""" himxhu is such a nice boy
i never have meet such a high potential kid""" # used for the multiple line to store 
print(a)
print(b)
print(c)

himxhu
himxhu
 himxhu is such a nice boy
i never have meet such a high potential kid

SLICING

In [26]:
a="himxhuydv is my insta id hope to see you there"
print(a[2::2])
print(a[1])
#Negative 
print(a[::-1])
print(a[-1::-2])
print(a[-4:-1])#to find

mhyvi yisai oet e o hr
i
ereht uoy ees ot epoh di atsni ym si vdyuhxmih
eetuyeso phd tn ms duxi
her

STRING FUNCTION

In [ ]:
# Replaced function
o="himanshuyadav "
replaced=o.replace("himanshu","himxhu").replace("yadav","ydv")
print(replaced)
# Find function
find="this function the first occurence of the character in the string "
print(find.find("s"))

himxhuydv
3

ESCAPE METHOD IN STRING

LIST

In [11]:
list2=[1,2,3,4,[1,2,3],2,32,4,[23,2,3,4,4]]
print(list2)

[1, 2, 3, 4, [1, 2, 3], 2, 32, 4, [23, 2, 3, 4, 4]]

In [9]:
list1=[1,2,3,4,5,6,7,8,9,10]
list2=[2,3,4,5,4,3,2,1,3,4]
list3=list1+list2
print(list3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 3, 4, 5, 4, 3, 2, 1, 3, 4]

In [14]:
#in this list we have converted a list into Set so that we can use distinct element feature of the Set to remove duplicacy
l1=[1,2,3,4,5,5,6,3,2,2,22,2,1,3,4,5,5,5,5]
l2=list(set(l1))
print(l2)

[1, 2, 3, 4, 5, 6, 22]

TUPLE:immutable does not change but it can contain all kind of data types

In [ ]:
a=(1,2,3,4,2,4,2,424224,24,2,4,4215,54) # u have to give a comma for telling the interpreter that this is tuple not int 
print(a.count(24))

1

In [1]:
mytuple=(1,2,3)
a,b,c=mytuple
print(a,b,c)

1 2 3

DICTIONARIES METHOD :

In [1]:
a={"name":"harry","from":"delhi"}
print(a)

{'name': 'harry', 'from': 'delhi'}

In [7]:
marks={"himanshu":100,"ayuhs":110,"yash":110,"raghva":100}
print(dict.get("NAME"))
print(marks.keys())
print(marks.values())
print(marks.get("himashu")) #return none if not present 
marks.update({"himanshu":1110,"shivam":110})
print(marks["himanshu"])

HIMANSHU
dict_keys(['himanshu', 'ayuhs', 'yash', 'raghva'])
dict_values([100, 110, 110, 100])
None
1110

SET:Unodered,no Indexing,write in {} and distinct values are in this no

In [15]:
s=set()#empty set
# print(s)
s={1,2,3,4,4,3,2,1,3,4,5,5,2,}
print(s)

{1, 2, 3, 4, 5}

CONDTIONAL STATEMENT:

In [17]:
a=int(input("enter the age "))
if(a<=18):
    print("you are boy")
else:
    print("you are allowed")

you are boy

IF ELIF

In [ ]:
age=int(input("enter your age"))
if(age<=18):
    print("you not eligible to vote")
else:
    print("you are eligible ")

ELIF: so elif is check when the condition of the if not true then it will check

In [21]:
a=int(input("enter the age "))
if(a<=18):
    print("you are boy")
elif(a==0):
    print("invald input")
elif(a<0):
    print("you have  input a negative value ")
else:
    print("you are  allowed")

you have input a negative value

nested if elif and else

In [24]:
#1️ Grade system

# Input: Marks

# 90+ → A

# 75–89 → B

# 50–74 → C

# Below 50 → Fail
Marks=int(input("enter your marks "))
if(Marks>=0):
    if(Marks>=90):
        print("A")
    elif(Marks>=75 and Marks<=89):
        print("B")
    elif(Marks>=50 and Marks<=74):
        print("C")
    else:
        print("Fail")
else:
    print("Negative Input")

Fail

LOOP

if u have to do a simple work again and again like printing a number from 1 to 100
you required a function that will work again and again so this loop is the answer

In [ ]:
for i in range(1,6,2): #fist start,end,step
    print(i)

1
3
5

In [1]:
i=0
while(i<6):
    print(i)
    if i==5:
        break
    i+=1

0
1
2
3
4
5

In [ ]:
list1=[1,2,3,4,5,6,7,8,9]
i=0
while(i<len(list1)):
    i+=

0
1
2
3
4
5
6
7
8

In [28]:
i=0
while(i<51):
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [ ]:
i=1
while(i<6): # so if u want to end the loop u have to end the condition of while loop 
    print(i)
    i+=1
    #now the value wil check and then the value of i will updated and get 2 ,3,4,5 at six the code will exit 
'''
Output:
1
2
3
4
5
this will be end at the 6 th beacause 6 is not less than 6
'''

In [ ]:
#Content of the List printing using while loop
l=[1,2,2,"hary","sandhya","keshav","prajapati","False"]
i=0
while(i<len(l)):#in this starting the value are the 0 at the start then it will start execution and then .. now the 0 will change and be 1 again is less then len(l) and sooo on
    print(l[i])#now the value at the start 0 so now it will print l index 0 value.... now the i is 1 then print the l(1)index element  and so on...
    i+=1# now the value is getting increment by 1 then now the code will go again..

1
2
2
hary
sandhya
keshav
prajapati
False

FOR LOOP

In [ ]:
for i in  range(0,4):
    print(i)

0
1
2
3

In [7]:
l=[1,2,3,4,5,6]
for i in l:
    print(i)

1
2
3
4
5
6

In [10]:
fruits=["apple","mango","orange"]
for fruit in fruits:
    print(fruit)
    print(fruit + "pie")

apple
applepie
mango
mangopie
orange
orangepie

In [ ]:
student_score=[150,20,300,200,200,300,204,2,23,324,24,34,24,23,23,23,2]
total_max=sum(student_score)
print(total_max)
#for loop how it will work
total=0
for score in student_score:
    total+=score
print(total)
#for the finding maxi

1876
1876